version: '3.8'

services:
  backend:
    build: ./backend
    ports:
      - "5000:5000"
    volumes:
      - ./backend/instance:/app/instance
      - ./backend/uploads:/app/uploads
      - ./backend/ml:/app/ml
    environment:
      - FLASK_ENV=production
